{% extends 'layaout.html' %}
{% block content %}
<div class="brl">
    <h1>Blogs</h1>
</div>
    <div class="row   ">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="d-flex  post flex-wrap justify-content-center">
                   
                        {% for post in posts %}
                        <div class="col-md-6 des  ">
                            <div class="card dev mb-3 ">
                                <div class="ses"><img style="" src="{{post.image.url}}" class="img-thumbnail img-fluid card-img-top ses " alt="..."></div>
                                <div class="des">
                                    <h3>{{post.title}}</h3>
                                    <h6 class="card-title til">{{post.date}}</h6>
                                   
                                    <div class="seq">
                                        <p>{{post.description|striptags|truncatechars:100}}</p>
                                    </div>
                                    <div class="botn">
                                    <a  href="{% url 'blog:post_detail' post.id %}" class=" btn btn-primary">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
                    
            </div>
        </div>
      </div>
      
      
      
    
      
    
  


    
{% endblock  %}