{% extends 'layaout.html' %} {% block content %}
 
{% load static %}
<header class="row bg-black">
    <div class="col-md-4">
        <img class="img-fluid"  src="{% static 'porfolio/se.png' %}" alt="">
    </div>
    <div class="col-md-8 my-auto">
        <h1> I am <strong>DEnis JUAN</strong></h1>
        <h3>I am a python FullStack Dveloper</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod enim tenetur neque assumenda qui, dolorum totam! Debitis commodi iure, nulla id ratione minus ut laboriosam rerum voluptas dolore sequi dolorum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt mollitia, soluta saepe praesentium vitae placeat eius animi quibusdam tempora suscipit? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, sequi aliquam! Velit, esse. Dolorum, repellat ad pariatur quos aperiam nostrum nam laborum tempore illo veniam eos ex deleniti vitae alias, neque amet assumenda id accusantium asperiores. Eaque quibusdam porro provident.
            <a href="{% static 'porfolio/cv.pdf'%}" class="btn btn-primary btn-lg rounded-0 my-3">Download CV</a>
        </p>
    </div>

</header>

<h1>hola</h1>
<div class="row my-4 text-center">
    <h3>My Projects</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, soluta.</p>
{% for project in  projects %}
    
<div class="col-md-4 p-4">
    <div class="card bg-black card-project">
        <img src="{{project.image.url}}  "class='img-top'>
        <div class="card-body ">
            <h2>{{project.title}}</h2>
            

            {% if project.url %}
            <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blanck">{{project.url}}</a>  

    {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock  %}
</div>