<footer  class="mt-5 de" id="footer">
  <div class="container  de mt4">
    <h3>Davis Pratick</h3>
    <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
    <div class="social-links">
      <a href="https://twitter.com/PatrikPE1" class="twitter"><i class="fa-brands fa-twitter bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/gringoanonim/" class="facebook"><i class="fa-brands fa-square-facebook bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/davis_patrick_men/" class="instagram"><i class=" fa-brands fa-instagram bx bxl-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCVQ6Br8dbY4jONpP1JveRow" class="google-plus"><i class="fa-brands fa-youtube bx bxl-skype"></i></a>
      <a href="https://github.com/Sherklan12e" class="linkedin"><i class="fa-brands fa-github bx bxl-linkedin"></i></a>
      
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: [license-url] -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
      Designed by <a href="https://www.youtube.com/channel/UCVQ6Br8dbY4jONpP1JveRow">PatrickPe</a>
    </div>
  </div>
</footer><!-- End Footer -->
<div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
